{% extends 'maincontent.html' %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <section id="content" class="content" data-select2-id="select2-data-content">
            <div class="row">
                <div id="content-main" class="col-12">
                    <form action="{% url 'home:certification_add' %}" method="post" id="certification_form" novalidate="" data-select2-id="select2-data-certification_form">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <div class="card card-primary card-outline" data-select2-id="select2-data-9-e4ju">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Añadir certification
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group field-tool">
                                            <div class="row">
                                                <label class="col-sm-2 text-left" for="id_tool">Tool<span class="text-red">* </span></label>
                                                <div class=" col-sm-10 field-tool">
                                                    <div class="related-widget-wrapper">
                                                        <select name="tool" required="" id="id_tool" data-select2-id="select2-data-id_tool" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                                        <option value="" selected="" data-select2-id="select2-data-2-kek2">---------</option>
                                                        {% for tool in tools %}
                                                        <option value="{{ tool.id }}" data-select2-id="select2-data-2-kek2">{{ tool.name }}</option>
                                                        {% endfor %}
                                                    </select>>
                                                    </div>
                                                    <div class="help-block red">
                                                    </div>
                                                    <div class="help-block text-red">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group field-is_necessary">
                                            <div class="row">
                                                <label class="col-sm-2 text-left" for="id_is_necessary">Is necessary</label>
                                                <div class=" col-sm-10 field-is_necessary">
                                                    <input type="checkbox" name="is_necessary" id="id_is_necessary">
                                                    <div class="help-block red">
                                                    </div>
                                                    <div class="help-block text-red">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group field-last_certification">
                                            <div class="row">
                                                <label class="col-sm-2 text-left" for="id_last_certification">Last certification<span class="text-red">* </span></label>
                                                <div class=" col-sm-10 field-last_certification">
                                                    <p class="datetime">
                                                        Fecha: <input type="text" name="last_certification_0" class="vDateField" size="10" required="" id="id_last_certification_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Hoy</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Elija una Fecha"></span></a>
                                                        </span>
                                                        <br> Hora: <input type="text" name="last_certification_1" class="vTimeField" size="8" required="" id="id_last_certification_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Ahora</a>&nbsp;|&nbsp;<a href="#" id="clocklink0"><span class="clock-icon" title="Elija una Hora"></span></a>
                                                        </span>
                                                    </p>
                                                    <div class="help-block red">
                                                    </div>
                                                    <div class="help-block text-red">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group field-certification_period">
                                            <div class="row">
                                                <label class="col-sm-2 text-left" for="id_certification_period">Certification period<span class="text-red">* </span></label>
                                                <div class=" col-sm-10 field-certification_period">
                                                    <input type="number" name="certification_period" value="180" class="vIntegerField" required="" id="id_certification_period">
                                                    <div class="help-block red">
                                                    </div>
                                                    <div class="help-block text-red">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Tool -->
                                <div class="col-12 col-lg-3">
                                    <div id="jazzy-actions" class="">
                                        <div class="card card-primary card-outline">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fas fa-edit"></i> Acciones
                                                </h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <input type="submit" value="Guardar" class="btn btn-outline-success form-control" name="_save">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-outline-info form-control" value="Guardar y añadir otro" name="_addanother">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}