{% extends 'maincontent.html' %}

{% block  content %}
<h1>Trabajadores</h1>
<table class="table table-striped " id="data">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cargo</th>
        <th scope="col">Area</th>
        <th scope="col">Ingreso</th>
    </tr>
    </thead>
    <tbody>
        {% for employee in employees%}
            <tr>
                <td scope="row">{{ employee.id }}</td>      
                <td>{{employee.name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.area}}</td>
                <td>{{employee.create_at}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}